# Log Settings
log:
  loglevel: info                                        # Logging level: none, error, warn, info, debug, trace. NONE disables logging; each level includes messages from lower levels.
  logmode: inclusive                                    # Log mode: inclusive = this and lower levels; exclusive = only this level

# Timezone Settings 
TZ: Asia/Bangkok                                        # IANA timezone name (e.g., Europe/Amsterdam, Asia/Singapore). If empty, uses TZ environment variable or UTC.

# API Settings
api_token: ""                                           # Token required to access the API endpoints. If empty, access is allowed without authorization. Format: Bearer <token>.

backend:
  listen_address: 0.0.0.0                               # IP address of the v2ray-stat API server. 127.0.0.1 means it is accessible only locally (localhost).
  listen_port: 9243                                     # TCP port for v2ray-stat API server. Must be between 1 and 65535.

monitor:
  ticker_interval: 10                                   # Interval (in seconds) for polling monitored services and users. Recommended: 5–60.
  online_rate_threshold: 15                             # Minimum rate threshold in kilobits per second (kbps) to consider a user online. 0 means any non-zero rate is considered online.

# Paths
paths:
  database: /app/data/data.db                           # Path to the SQLite database for tracking user sessions and usage.

node_metadata:
{% for host in groups['servers'] %}
  {{ host }}:
{% if hostvars[host].is_local_node | default(false) %}
    address: node
    port: 9253
{% else %}
  {{ host}}:
    schema: https
    address: "{{ hostvars[host].domain_name }}"
    port: "{{ hostvars[host].haproxy_port | default(haproxy_port) }}"
    path: grpcnode
{% endif %}
{% endfor %}

subscription:
  address: subscription
  port: 9263

# Statistics Columns Configuration
stats_columns:
  server:
    sort: downlink desc                                 # Sorting rule for server statistics. Format: "<column> <ASC|DESC>". Default: "source ASC". Valid columns: source, rate, uplink, downlink, sess_uplink, sess_downlink.
    columns:                                            # List of columns to display in server statistics. If empty, no server statistics are shown.
      - node_name                                       # Node name where the traffic is measured.
      - source                                          # Source of traffic (e.g., IP or hostname).
      - rate                                            # Current traffic rate in bits per second (bps).
      - uplink                                          # Total uploaded traffic in bytes.
      - downlink                                        # Total downloaded traffic in bytes.
      # - sess_uplink                                   # Session-based uploaded traffic in bytes (reset after reconnect).
      # - sess_downlink                                 # Session-based downloaded traffic in bytes (reset after reconnect).
  client:
    sort: rate desc                                     # Sorting rule for client statistics. Same format and rules as for server stats.
    columns:                                            # List of columns to display in client statistics. If empty, no client statistics are shown.
      - node_name                                       # Node name where the client is connected.
      - user                                            # Client username or identifier.
      - last_seen                                       # Timestamp of the last client activity.
      - rate                                            # Current traffic rate in bits per second (bps).
      - uplink                                          # Total uploaded traffic in bytes.
      - downlink                                        # Total downloaded traffic in bytes.
      - traffic_cap
      # - sess_uplink                                   # Session-based uploaded traffic in bytes (reset after reconnect).
      # - sess_downlink                                 # Session-based downloaded traffic in bytes (reset after reconnect).
      - enabled                                         # Whether the client is enabled (true/false).
      # - created                                       # Timestamp when the client was created.
      # - sub_end                                       # Subscription end date for the client.
      # - renew                                         # Renewal status or date for the client.
      # - id                                            # Unique client identifier (ID).
      # - inbound_tag                                   # Inbound tag associated with the client.
      # - lim_ip                                        # IP limit for the client (number of allowed IPs).
      - ips                                             # List of IPs currently used by the client.
