---

- name: Create nginx directories
  file:
    path: "{{ remote_path }}/nginx/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - ''
    - 'conf.d'
    - 'locations'
    - 'scripts'

- name: Deploy nginx configuration templates
  template:
    src: "{{ item.src }}"
    dest: "{{ remote_path }}/nginx/{{ item.dest }}"
    mode: "{{ item.mode }}"
  loop:
    # Основные конфигурации
    - { src: 'nginx.conf.j2', dest: 'nginx.conf', mode: '0644' }
    - { src: 'mime.types.j2', dest: 'mime.types', mode: '0644' }
    
    # Конфиги в conf.d
    - { src: 'local.conf.j2', dest: 'conf.d/local.conf', mode: '0644' }
    
    # Конфиги в locations
    - { src: 'grpc_node.conf.j2', dest: 'locations/grpc_node.conf', mode: '0644' }
    - { src: 'hidden_files.conf.j2', dest: 'locations/hidden_files.conf', mode: '0644' }
    - { src: 'root.conf.j2', dest: 'locations/root.conf', mode: '0644' }
    - { src: 'ruleset.conf.j2', dest: 'locations/ruleset.conf', mode: '0644' }
    - { src: 'v2ray_stat.conf.j2', dest: 'locations/v2ray_stat.conf', mode: '0644' }
    - { src: 'v2ray_sub.conf.j2', dest: 'locations/v2ray_sub.conf', mode: '0644' }
    
    # Скрипты (без исполняемых прав, Dockerfile сам даст)
    - { src: 'supervisord.conf.j2', dest: 'supervisord.conf', mode: '0644' }
    - { src: 'update_geolite.sh.j2', dest: 'scripts/update_geolite.sh', mode: '0644' }

- name: Deploy nginx Dockerfile
  template:
    src: 'Dockerfile.j2'
    dest: '{{ remote_path }}/nginx/Dockerfile'
    mode: '0644'
