---
- name: Создание .env и compose.yml для всех сервисов
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  loop:
    - { src: 'compose.yml.j2', dest: '{{ remote_path }}/compose.yml', mode: '0755' }
    - { src: 'env.j2', dest: '{{ remote_path }}/.env', mode: '0600' }

- name: Генерируем сертификаты локально
  include_tasks: generate_certs.yml

- name: Deploy with dynamic profiles
  community.docker.docker_compose_v2:
    project_src: "{{ remote_path }}"
    profiles: full
    state: present
    recreate: auto
    wait: yes
    remove_orphans: yes
