---

- name: Prepare HAProxy directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
  loop:
    - { path: "{{ remote_path }}/haproxy", mode: '0755' }
    - { path: "{{ remote_path }}/haproxy/lua", mode: '0755' }
    - { path: "{{ remote_path }}/haproxy/data", mode: '0755' }

- name: Deploy Lua authentication modules
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  loop:
    - { src: 'auth.lua.j2', dest: '{{ remote_path }}/haproxy/lua/auth.lua', mode: '0644' }
    - { src: 'users_loader.lua.j2', dest: '{{ remote_path }}/haproxy/lua/users_loader.lua', mode: '0644' }

- name: Deploy users.csv
  ansible.builtin.template:
    src: 'users.csv.j2'
    dest: '{{ remote_path }}/haproxy/data/users.csv'
    mode: '0644'
    force: yes

- name: Deploy HAProxy configuration
  ansible.builtin.template:
    src: 'haproxy.cfg.j2'
    dest: '{{ remote_path }}/haproxy/haproxy.cfg'
    mode: '0644'
