{
  "remarks": "HAPROXY",
  "log": {
    "access": "./access.log",
    "error": "./error.log",
    "dnsLog": false,
    "loglevel": "warning",
    "maskAddress": ""
  },
  "dns": {},
  "routing": {
    "domainMatcher": "hybrid",
    "domainStrategy": "IPIfNonMatch",
    "network": "tcp,udp",
    "rules": [
      {
        "network": "tcp,udp",
        "outboundTag": "dns-out",
        "port": 53
      },
      {
        "inboundTag": [
          "api"
        ],
        "outboundTag": "api"
      },
      {
        "outboundTag": "direct",
        "protocol": [
          "bittorrent"
        ]
      },
      {
        "ip": [
          "geoip:private"
        ],
        "outboundTag": "direct"
      },
      {
        "domain": [
          "geosite:category-ads-all",
          "keyword:analytics",
          "keyword:telemetry",
          "keyword:bongacams",
          "keyword:firebase",
          "keyword:tracking",
          "keyword:reklama"
        ],
        "outboundTag": "block"
      },
      {
        "domain": [
          "geosite:google-deepmind",
          "habr.com",
          "geosite:category-android-app-download",
          "geosite:sciencedirect",
          "geosite:category-ru",
          "geosite:deviantart",
          "geosite:duckduckgo",
          "geosite:aljazeera",
          "geosite:pinterest",
          "geosite:canonical",
          "geosite:microsoft",
          "geosite:clarivate",
          "geosite:duolingo",
          "geosite:elsevier",
          "geosite:sci-hub",
          "geosite:mozilla",
          "geosite:blender",
          "geosite:aptoide",
          "geosite:samsung",
          "geosite:yandex",
          "geosite:huawei",
          "geosite:lenovo",
          "geosite:oracle",
          "geosite:nvidia",
          "geosite:xiaomi",
          "geosite:gitlab",
          "geosite:python",
          "geosite:debian",
          "geosite:mailru",
          "geosite:reddit",
          "geosite:twitch",
          "geosite:tumblr",
          "geosite:4chan",
          "geosite:yahoo",
          "geosite:apple",
          "geosite:adobe",
          "geosite:drweb",
          "geosite:zoom",
          "geosite:asus",
          "geosite:doi",
          "geosite:vk",
          "geosite:hp",
          "geosite:lg",
          "keyword:researchgate",
          "keyword:wildberries",
          "keyword:aliexpress",
          "keyword:nextcloud",
          "keyword:kaspersky",
          "keyword:springer",
          "keyword:snapchat",
          "keyword:taxitax",
          "keyword:yandex",
          "keyword:yango",
          "keyword:stepik",
          "keyword:pikabu",
          "keyword:roblox",
          "keyword:likee",
          "keyword:viber",
          "keyword:skype",
          "keyword:yappy",
          "keyword:porno",
          "keyword:wiki",
          "keyword:okko",
          "keyword:wink",
          "keyword:kion",
          "keyword:ozon",
          "keyword:xn--",
          "keyword:2gis",
          "keyword:vkuser",
          "connectivitycheck.gstatic.com",
          "networkcheck.kde.org",
          "msftconnecttest.com",
          "cp.cloudflare.com",
          "wikipedia.org",
          "msftncsi.com",
          "firefox.com",
          "aeza.net",
          "vk.com",
          "flcksbr.top",
          "ru.com",
          "ru.net",
          "keyword:browserleaks"
        ],
        "outboundTag": "warp"
      },
      {
        "ip": [
          "geoip:ru"
        ],
        "outboundTag": "warp"
      }
    ]
  },
  "inbounds": [
{% for protocol in enriched_protocols %}
    {
      "protocol": "{{ protocol.type }}",
      "tag": "{{ protocol.type }}-in",
      "listen": "0.0.0.0",
      "port": {{ 10550 if protocol.type == 'vless' else 10443 }},
      "settings": {
        "clients": [
{% for user in protocol.users %}
          {
            "email": "{{ user.name }}",
{% if protocol.type == 'vless' %}
            "id": "{{ user.uuid | default('generate-uuid-here-or-from-vars') }}"
{% elif protocol.type == 'trojan' %}
          "password": "{{ user.password | default('default-password') }}"
{% endif %}
        }{{ "," if not loop.last else "" }}
{% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "none",
        "sockopt": {
          "tcpFastOpen": true,
          "tcpNoDelay": true
        },
        "tcpSettings": {
          "acceptProxyProtocol": true,
          "header": {
            "type": "none"
          }
        }
      },
      "sniffing": {
        "destOverride": [
          "http",
          "tls",
          "quic",
          "fakedns"
        ],
        "enabled": true,
        "metadataOnly": false,
        "routeOnly": false
      }
    }{{ "," if not loop.last else "" }}
{% endfor %}
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {
        "domainStrategy": "UseIP"
      },
      "sockopt": {
        "tcpFastOpen": true,
        "tcpNoDelay": true
      },
      "tag": "direct",
      "userLevel": 0
    },
    {
      "protocol": "freedom",
      "settings": {
        "domainStrategy": "UseIPv4"
      },
      "sockopt": {
        "tcpFastOpen": true,
        "tcpNoDelay": true
      },
      "tag": "directV4",
      "userLevel": 0
    },
    {
      "protocol": "freedom",
      "settings": {
        "domainStrategy": "UseIPv6"
      },
      "sockopt": {
        "tcpFastOpen": true,
        "tcpNoDelay": true
      },
      "tag": "directV6",
      "userLevel": 0
    },
    {
      "protocol": "dns",
      "settings": {
        "nonIPQuery": "drop"
      },
      "tag": "dns-out"
    },
    {
      "protocol": "blackhole",
      "settings": {
        "response": {
          "type": "http"
        }
      },
      "tag": "block"
    },
    {
      "protocol": "socks",
      "settings": {
        "servers": [
          {
            "address": "warp",
            "port": {{ warp_port }},
            "users": []
          }
        ]
      },
      "tag": "warp"
    }
  ],
  "policy": {
    "levels": {
      "0": {
        "bufferSize": 512,
        "connIdle": 300,
        "downlinkOnly": 5,
        "handshake": 8,
        "statsUserDownlink": true,
        "statsUserOnline": true,
        "statsUserUplink": true,
        "uplinkOnly": 2
      },
      "1": {
        "bufferSize": 512,
        "connIdle": 300,
        "statsUserDownlink": true,
        "statsUserOnline": true,
        "statsUserUplink": true
      }
    },
    "system": {
      "statsInboundDownlink": true,
      "statsInboundUplink": true,
      "statsOutboundDownlink": true,
      "statsOutboundUplink": true
    }
  },
  "api": {
    "listen": "0.0.0.0:10812",
    "services": [
      "HandlerService",
      "StatsService",
      "ReflectionService"
    ],
    "tag": "api"
  },
  "stats": {},
  "fakedns": [
    {
      "ipPool": "198.18.0.0/16",
      "poolSize": 512
    },
    {
      "ipPool": "fc00::/64",
      "poolSize": 512
    }
  ],
  "reverse": null
}
