---

- name: Deploy BBR settings file
  ansible.builtin.template:
    src: 99-bbr.conf.j2
    dest: /etc/sysctl.d/99-bbr.conf
    owner: root
    group: root
    mode: '0644'
  register: sysctl_file

- name: Apply new sysctl settings immediately
  ansible.builtin.command: sysctl -p /etc/sysctl.d/99-bbr.conf
  when: sysctl_file.changed
