---
- name: Check if the swap file is currently ACTIVE
  ansible.builtin.command: swapon --show
  register: swap_active_check
  changed_when: false

- name: Temporarily DEACTIVATE swap file if it is currently active
  ansible.builtin.command: swapoff {{ swap_file_path }}
  when: swap_file_path in swap_active_check.stdout

- name: Check current swap file size and existence
  ansible.builtin.stat:
    path: "{{ swap_file_path }}"
    get_checksum: no
  register: swap_file_stat
  changed_when: false

- name: Should swap be recreated?
  ansible.builtin.set_fact:
    swap_recreate_needed: >
      {{ not swap_file_stat.stat.exists or 
         swap_file_stat.stat.size != swap_size | human_to_bytes }}
  changed_when: false

- name: Recreate, format, and enable swap file
  when: swap_recreate_needed | bool
  block:
    - name: Delete existing swap file (if size needs change)
      ansible.builtin.file:
        path: "{{ swap_file_path }}"
        state: absent

    - name: Create NEW swap file with desired size ({{ swap_size }})
      ansible.builtin.command: fallocate -l {{ swap_size }} {{ swap_file_path }}
      register: swap_created
      changed_when: true

    - name: Set swap permissions
      ansible.builtin.file:
        path: "{{ swap_file_path }}"
        owner: root
        group: root
        mode: '0600'

    - name: Format swap
      ansible.builtin.command: mkswap {{ swap_file_path }}

    - name: Enable swap
      ansible.builtin.command: swapon {{ swap_file_path }}

- name: Add/Update fstab entry
  ansible.builtin.mount:
    path: none
    src: "{{ swap_file_path }}"
    fstype: swap
    opts: sw
    passno: 0
    dump: 0
    state: present
