---
- name: Check if swap exists
  ansible.builtin.command: swapon --show
  register: swap_check
  changed_when: false

- name: Create swap file
  ansible.builtin.command: fallocate -l {{ swap_size }} {{ swap_file_path }}
  args:
    creates: "{{ swap_file_path }}"
  when: swap_file_path not in swap_check.stdout

- name: Set swap permissions
  ansible.builtin.file:
    path: "{{ swap_file_path }}"
    owner: root
    group: root
    mode: '0600'

- name: Format swap
  ansible.builtin.command: mkswap {{ swap_file_path }}
  when: swap_file_path not in swap_check.stdout

- name: Enable swap
  ansible.builtin.command: swapon {{ swap_file_path }}
  when: swap_file_path not in swap_check.stdout

- name: Add to fstab
  ansible.builtin.mount:
    path: none
    src: "{{ swap_file_path }}"
    fstype: swap
    opts: sw
    passno: 0
    dump: 0
    state: present
