{
  "remarks": "IM",
  "log": {
    "dnsLog": false,
    "loglevel": "warning"
  },
  "dns": {
    "hosts": {
      "{domain}": "83.228.212.190",
      "dns.cloudflare.com": "1.1.1.1",
      "dns.google": [
        "8.8.8.8",
        "8.8.4.4"
      ]
    },
    "servers": [
      {
        "address": "https+local://1.1.1.1/dns-query",
        "domains": [
          "{domain}",
          "geosite:category-android-app-download",
          "geosite:sciencedirect",
          "geosite:category-ru",
          "geosite:deviantart",
          "geosite:duckduckgo",
          "geosite:aljazeera",
          "geosite:pinterest",
          "geosite:canonical",
          "geosite:microsoft",
          "geosite:clarivate",
          "geosite:duolingo",
          "geosite:elsevier",
          "geosite:sci-hub",
          "geosite:mozilla",
          "geosite:blender",
          "geosite:aptoide",
          "geosite:samsung",
          "geosite:yandex",
          "geosite:huawei",
          "geosite:lenovo",
          "geosite:oracle",
          "geosite:nvidia",
          "geosite:xiaomi",
          "geosite:gitlab",
          "geosite:python",
          "geosite:debian",
          "geosite:mailru",
          "geosite:reddit",
          "geosite:twitch",
          "geosite:tumblr",
          "geosite:4chan",
          "geosite:yahoo",
          "geosite:apple",
          "geosite:adobe",
          "geosite:drweb",
          "geosite:zoom",
          "geosite:asus",
          "geosite:doi",
          "geosite:vk",
          "geosite:hp",
          "geosite:lg",
          "keyword:researchgate",
          "keyword:wildberries",
          "keyword:aliexpress",
          "keyword:nextcloud",
          "keyword:kaspersky",
          "keyword:springer",
          "keyword:snapchat",
          "keyword:taxitax",
          "keyword:yandex",
          "keyword:yango",
          "keyword:stepik",
          "keyword:pikabu",
          "keyword:roblox",
          "keyword:likee",
          "keyword:viber",
          "keyword:skype",
          "keyword:yappy",
          "keyword:porno",
          "keyword:wiki",
          "keyword:okko",
          "keyword:wink",
          "keyword:kion",
          "keyword:ozon",
          "keyword:xn--",
          "keyword:2gis",
          "connectivitycheck.gstatic.com",
          "networkcheck.kde.org",
          "msftconnecttest.com",
          "cp.cloudflare.com",
          "wikipedia.org",
          "msftncsi.com",
          "firefox.com",
          "aeza.net",
          "vk.com",
          "vkuseraudio.net",
          "vkuser.net",
          "flcksbr.top",
          "ru.com",
          "ru.net",
          "keyword:ipleak"
        ],
        "skipFallback": true,
        "disableFallback": true,
        "queryStrategy": "UseIP",
        "allowUnexpectedIPs": true,
        "timeoutMs": 1000
      },
      "8.8.8.8"
    ],
    "skipFallback": true,
    "queryStrategy": "UseIP"
  },
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "domainMatcher": "hybrid",
    "network": "tcp,udp",
    "rules": [
      {
        "inboundTag": [
          "socks"
        ],
        "port": 53,
        "outboundTag": "dns-out"
      },
      {
        "inboundTag": [
          "api"
        ],
        "outboundTag": "api"
      },
      {
        "protocol": [
          "bittorrent"
        ],
        "outboundTag": "direct"
      },
      {
        "ip": [
          "geoip:private"
        ],
        "outboundTag": "direct"
      },
      {
        "outboundTag": "proxy",
        "ip": ["91.108.56.0/22", "91.108.4.0/22", "149.154.160.0/20"],
        "port": "16384-32767",
        "network": "udp"
      },
      {
        "outboundTag": "proxy",
        "port": "3478,4244,5222,5223,5228,50318,59234",
        "network": "udp"
      },
      {
        "outboundTag": "proxy",
        "port": "50000-65535",
        "domain": ["keyword:discord"],
        "network": "udp"
      },
      {
        "domain": [
          "geosite:category-ads-all",
          "keyword:analytics",
          "keyword:telemetry",
          "keyword:bongacams",
          "keyword:firebase",
          "keyword:tracking",
          "keyword:reklama"
        ],
        "outboundTag": "block"
      },
      {
        "domain": [
          "{domain}",
          "geosite:category-android-app-download",
          "geosite:sciencedirect",
          "geosite:category-ru",
          "geosite:deviantart",
          "geosite:duckduckgo",
          "geosite:aljazeera",
          "geosite:pinterest",
          "geosite:canonical",
          "geosite:microsoft",
          "geosite:clarivate",
          "geosite:duolingo",
          "geosite:elsevier",
          "geosite:sci-hub",
          "geosite:mozilla",
          "geosite:blender",
          "geosite:aptoide",
          "geosite:samsung",
          "geosite:yandex",
          "geosite:huawei",
          "geosite:lenovo",
          "geosite:oracle",
          "geosite:nvidia",
          "geosite:xiaomi",
          "geosite:gitlab",
          "geosite:python",
          "geosite:debian",
          "geosite:mailru",
          "geosite:reddit",
          "geosite:twitch",
          "geosite:tumblr",
          "geosite:4chan",
          "geosite:yahoo",
          "geosite:apple",
          "geosite:adobe",
          "geosite:drweb",
          "geosite:zoom",
          "geosite:asus",
          "geosite:doi",
          "geosite:vk",
          "geosite:hp",
          "geosite:lg",
          "keyword:researchgate",
          "keyword:wildberries",
          "keyword:aliexpress",
          "keyword:nextcloud",
          "keyword:kaspersky",
          "keyword:springer",
          "keyword:snapchat",
          "keyword:taxitax",
          "keyword:yandex",
          "keyword:yango",
          "keyword:stepik",
          "keyword:pikabu",
          "keyword:roblox",
          "keyword:likee",
          "keyword:viber",
          "keyword:skype",
          "keyword:yappy",
          "keyword:porno",
          "keyword:wiki",
          "keyword:okko",
          "keyword:wink",
          "keyword:kion",
          "keyword:ozon",
          "keyword:xn--",
          "keyword:2gis",
          "connectivitycheck.gstatic.com",
          "networkcheck.kde.org",
          "msftconnecttest.com",
          "cp.cloudflare.com",
          "wikipedia.org",
          "msftncsi.com",
          "firefox.com",
          "aeza.net",
          "vk.com",
          "vkuseraudio.net",
          "vkuser.net",
          "flcksbr.top",
          "ru.com",
          "ru.net",
          "keyword:ipleak"
        ],
        "outboundTag": "direct"
      }
    ]
  },
  "inbounds": [
    {
      "tag": "socks",
      "port": 10808,
      "protocol": "socks",
      "settings": {
        "udp": true,
        "auth": "noauth"
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls",
          "quic",
          "fakedns"
        ]
      },
      "routeOnly": false,
      "metadataOnly": false
    },
    {
      "listen": "127.0.0.1",
      "port": 9991,
      "protocol": "dokodemo-door",
      "settings": {
        "address": "127.0.0.1"
      },
      "tag": "api"
    }
  ],
  "outbounds": [
    {
      "tag": "proxy",
      "protocol": "vless",
      "userLevel": 1,
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tcpSettings": {
          "header": {
            "type": "none"
          }
        },
        "tlsSettings": {
          "utls": {
            "alpn": [
              "h2",
              "http/1.1"
            ],
            "fingerprint": "chrome"
          }
        }
      },
      "mux": {
        "enabled": true,
        "concurrency": 4,
        "xudpConcurrency": 8,
        "xudpProxyUDP443": "allow"
      },
      "sockopt": {
        "tcpFastOpen": true,
        "tcpNoDelay": true
      },
      "settings": {
        "domainStrategy": "UseIP",
        "vnext": [
          {
            "address": "{domain}",
            "port": 443,
            "users": [
              {
                "encryption": "none",
                "id": "{user_id}"
              }
            ]
          }
        ]
      }
    },
    {
      "tag": "direct",
      "protocol": "freedom",
      "userLevel": 0,
      "settings": {
        "domainStrategy": "UseIPv4"
      },
      "sockopt": {
        "tcpFastOpen": true,
        "tcpNoDelay": true
      }
    },
    {
      "tag": "block",
      "protocol": "blackhole",
      "settings": {
        "response": {
          "type": "http"
        }
      }
    },
    {
      "tag": "dns-out",
      "protocol": "dns",
      "settings": {
        "nonIPQuery": "skip",
        "network": "udp",
        "address": "8.8.8.8",
        "port": 53
      }
    }
  ],
  "policy": {
    "levels": {
      "0": {
        "connIdle": 300,
        "downlinkOnly": 5,
        "handshake": 4,
        "statsUserDownlink": true,
        "statsUserOnline": true,
        "statsUserUplink": true,
        "uplinkOnly": 2
      },
      "1": {
        "connIdle": 300,
        "downlinkOnly": 5,
        "handshake": 8,
        "statsUserDownlink": true,
        "statsUserOnline": true,
        "statsUserUplink": true,
        "uplinkOnly": 2
      }
    },
    "system": {
      "statsInboundDownlink": true,
      "statsInboundUplink": true,
      "statsOutboundDownlink": true,
      "statsOutboundUplink": true
    }
  },
  "api": {
    "tag": "api",
    "services": [
      "HandlerService",
      "StatsService",
      "ReflectionService"
    ]
  },
  "fakedns": [
    {
      "ipPool": "198.18.0.0/16",
      "poolSize": 512
    },
    {
      "ipPool" : "fc00::/64",
      "poolSize" : 512
    }
  ],
  "stats": {},
  "reverse": null,
  "transport": null,
  "observatory": null,
  "burstObservatory": null
}
