---
- name: Создание compose.yml для всех сервисов
  template:
    src: compose.yml.j2
    dest: "{{ remote_path }}/compose.yml"
    mode: '0755'

- name: Создание config.json для Xray
  template:
    src: xray_config.json.j2
    dest: "{{ remote_path }}/xray/config/config.json"
    mode: '0644'

- name: Создание users.csv для HAProxy
  template:
    src: users.csv.j2
    dest: "{{ remote_path }}/haproxy/data/users.csv"
    mode: '0644'

- name: Создание файла .env
  template:
    src: env.j2
    dest: "{{ remote_path }}/.env"
    mode: '0600'

- name: Создание haproxy.cfg
  template:
    src: haproxy.cfg.j2
    dest: "{{ remote_path }}/haproxy/haproxy.cfg"
    mode: '0644'
  notify: Restart HAProxy

- name: Создание cloudflare.ini
  template:
    src: cloudflare.ini.j2
    dest: "{{ remote_path }}/certbot/cloudflare.ini"
    mode: '0600'
