# Установка алгоритма контроля перегрузки
net.ipv4.tcp_congestion_control = {{ bbr_control }}

# Установка дисциплины управления очередью по умолчанию (FQ - Fair Queueing)
net.core.default_qdisc = {{ bbr_qdisc }}
