---

- name: Generate unique credentials for protocols
  set_fact:
    enriched_protocols: "{{ generated_protocols_string | from_yaml }}"
  vars:
    generated_protocols_string: >-
      {% set proto_list = [] %}
      {% for proto in proxy_protocols %}
        {% set user_list = [] %}
        {% for user in proto.users %}
          {% set pass = lookup('password', '/dev/null chars=ascii_letters,digits length=25') %}
          {% set _ = user_list.append({
            'name': user.name,
            'uuid': 1000000 | random | to_uuid,
            'password': pass,
            'password_sha224': pass | hash('sha224')
          }) %}
        {% endfor %}
        {% set _ = proto_list.append({'type': proto.type, 'users': user_list}) %}
      {% endfor %}
      {{ proto_list }}
  run_once: true