---
# --- Debian/Ubuntu ---
- block:
    - name: Install unattended-upgrades
      ansible.builtin.apt: 
        name: unattended-upgrades 
        state: present

    - name: Configure periodic updates (50unattended-upgrades)
      ansible.builtin.template:
        src: 50unattended-upgrades.j2
        dest: /etc/apt/apt.conf.d/50unattended-upgrades

    - name: Enable auto-upgrades (20auto-upgrades)
      ansible.builtin.template:
        src: 20auto-upgrades.j2
        dest: /etc/apt/apt.conf.d/20auto-upgrades
  when: ansible_os_family == 'Debian'

# --- CentOS/RHEL ---
- block:
    - name: Install dnf-automatic
      ansible.builtin.dnf: 
        name: dnf-automatic 
        state: present

    - name: Configure dnf-automatic
      ansible.builtin.template:
        src: automatic.conf.j2
        dest: /etc/dnf/automatic.conf
      notify: restart dnf-automatic

    - name: Enable dnf-automatic timer
      ansible.builtin.systemd:
        name: dnf-automatic.timer
        state: started
        enabled: yes
  when: ansible_os_family == 'RedHat'
