# Log Settings
log_config:
  level: trace                                           # Logging level: none, error, warn, info, debug, trace
  mode: inclusive                                       # Mode: inclusive (this and lower), exclusive (only this)

# Timezone Settings 
TZ: Asia/Bangkok                                        # IANA timezone name (e.g., Europe/Amsterdam, Asia/Singapore). If empty, uses TZ environment variable or UTC.

# V2RS-Sub Settings
v2rs-sub:
  address: 0.0.0.0                                        # Listening address for the subscription server. '127.0.0.1' restricts access to localhost.
  port: 9264                                              # Listening port for the subscription server. Must be between 1 and 65535.
  grpc_port: 9263                                         # Listening port for the gRPC server.

# V2RS-Sub Settings
subscription:
  listen_address: 0.0.0.0                                      # Listening address for the subscription server. '127.0.0.1' restricts access to localhost.
  listen_port: 9264                                              # Listening port for the subscription server. Must be between 1 and 65535.
  listen_grpc_port: 9263                                         # Listening port for the gRPC server.

node_metadata:
  local:
    remark_placeholder: 🇨🇭
    domain_placeholder: {{ domain_name }}
    ip_placeholder: 1.2.3.4
    port_placeholder: 443


# Subscription Settings
sub_config:
  defaults:
    headers:
      Profile-Title: "base64:0J/QvtC00L/QuNGB0LrQsCDQtNC70Y8g0YLQtdCx0Y8g4p2k77iP"
      Profile-Update-Interval: "12"
      Support-Url: "https://natribu.org/"
      Profile-Web-Page-Url: "https://{{ domain_name }}"
      Announce: "base64:0JLRgdC1INGA0LDQsdC+0YLQsNC10YIg0LIg0YjRgtCw0YLQvdC+0Lwg0YDQtdC20LjQvNC1LCDQoNCa0J0g0KPQldCR0Ksh"
    clients: ["xray"]
    nodes: ["local"]
    templates:
      base:
      advanced:
        local: infomaniak
  groups:
    premium:
      clients: ["xray", "mihomo", "singbox"]
      templates:
        base:
          local: infomaniak
        advanced:
          local: infomaniak
  users:
    premium:
      users: ["cortez"]
