---

- name: Create Warp directory structure
  file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode }}"
  loop:
    - { path: "{{ remote_path }}/warp", mode: '0755' }
    - { path: "{{ remote_path }}/warp/data", mode: '0755' }
