// Конфигурация подписки
const CONFIG = {
    // Домен (можно оставить пустым для автоопределения)
    domain: 'https://{{ domain_name }}:{{ haproxy_port }}',  // Если пусто - использует текущий домен из адресной строки
    
    // Путь к API подписки
    path: '/v2rs-subscription/sub',
    
    // Имя подписки (используется для v2rayng, streisand, v2box и т.д.)
    subscriptionName: 'Subscription',
};
