---

- name: Отключение IPv6 через sysctl
  ansible.builtin.template:
    src: disable_ipv6.conf.j2
    dest: /etc/sysctl.d/90-disable-ipv6.conf
    owner: root
    group: root
    mode: '0644'
  register: sysctl_file
  tags: [ipv6, sysctl]

- name: Применение новых настроек sysctl
  ansible.builtin.command: sysctl -p /etc/sysctl.d/90-disable-ipv6.conf
  when: sysctl_file.changed
  tags: [ipv6, sysctl]
