# Log Settings
log_config:
  level: info                                             # Logging level: none, error, warn, info, debug, trace
  mode: inclusive                                         # Mode: inclusive (this and lower), exclusive (only this)

# Timezone Settings
TZ: Asia/Bangkok                                          # IANA timezone name (e.g., Europe/Amsterdam, Asia/Singapore). If empty, uses TZ environment variable or UTC.

# V2RS-Node Settings
node:
  listen_grpc_address: 0.0.0.0                            # IP address of the proxy core API server. '127.0.0.1' restricts access to localhost.
  listen_grpc_port: 9253                                  # TCP port for the proxy core API server. Must be between 1 and 65535.

service_manager: docker                                   # Выбор менеджера: systemd или docker

# Features & Monitoring Options
features:
  auth_lua: true                                          # Enables dynamic updates to HAProxy's auth.lua file for credential management.
  restart: true                                           # Enables automatic restart of services when configuration changes are detected.

# Core Settings
core:
  type: {{ proxy_core }}                                  # Type of proxy core used for statistics. Accepted values: xray, singbox.

{% if proxy_core == "xray" %}
  api_grpc_address: xray                                  # Use Docker service name; change if needed (e.g., to an IP like 172.32.0.x)
  # api_grpc_port: 10812                                  # Matches your Xray/Singbox config
  dir: /usr/local/etc/xray/                               # Directory path where the proxy (Xray or Singbox) config files are stored. Must end with a slash (/).
  config: /usr/local/etc/xray/config.json                 # Path to the main configuration file for the proxy core (e.g., Xray or Singbox config).
  log_source: file
  log_service_name: xray
  access_log_map:
    ip: 1
    domain: 2
    user: 3
  access_log: /usr/local/etc/xray/access.log              # Path to the proxy core's access log file for tracking user sessions and IPs.
  access_log_regex: 'from (?:[\w]+:)?([\d\.]+):\d+ accepted (?:tcp|udp):\[?([\w\.\-:]+)\]?:\d+ \[[^\]]+\] email: (\S+)'

{% elif proxy_core == "singbox" %}
  api_grpc_address: singbox                               # Use Docker service name; change if needed (e.g., to an IP like 172.32.0.x)
  # api_grpc_port: 10812                                  # Matches your Xray/Singbox config
  dir: /usr/local/etc/singbox/                            # Directory path where the proxy (Xray or Singbox) config files are stored. Must end with a slash (/).
  config: /usr/local/etc/singbox/config.json              # Path to the main configuration file for the proxy core (e.g., Xray or Singbox config).
  log_source: file
  log_service_name: singbox
  access_log_map:
    user: 1
    ip: 2
  access_log: /var/log/haproxy.log                        # Path to the proxy core's access log file for tracking user sessions and IPs.
  access_log_regex: 'login: (\S+); ip: ([0-9\.]+)'        # Alternative regex (e.g., for custom login formats):
{% endif %}

# Paths & Logging
paths:
  haproxy_auth: /etc/haproxy/data/users.csv               # Path to HAProxy's .auth.lua file, dynamically updated if auth_lua feature is enabled.
  f2b_log: /var/log/v2rs.log                              # Path to the log file for recording v2ray-stat violations or issues (e.g., IP limit exceeded).
  f2b_banned_log: /var/log/v2rs-banned.log                # Path to the log file for recording IP bans and unbans.
