---
- name: Создание compose.yml для всех сервисов
  template:
    src: compose.yml.j2
    dest: "{{ remote_path }}/compose.yml"
    mode: '0755'

- name: Создание файла .env
  template:
    src: env.j2
    dest: "{{ remote_path }}/.env"
    mode: '0600'
