---
- name: Проверка наличия config.json
  stat:
    path: "{{ remote_path }}/xray/config/config.json"
  register: xray_config_stat

- name: Чтение текущего конфига Xray
  slurp:
    src: "{{ remote_path }}/xray/config/config.json"
  register: xray_current_raw
  ignore_errors: true
  when: xray_config_stat.stat.exists

- name: Извлечение существующих клиентов
  set_fact:
    existing_clients: >-
      {{
        ((xray_current_raw['content'] | b64decode | from_json).inbounds[0].settings.clients)
        if (xray_config_stat.stat.exists and xray_current_raw.content is defined)
        else []
      }}

- name: Определение UUID главного пользователя
  set_fact:
    main_user_uuid: >-
      {{
        (existing_clients 
         | selectattr('email', 'equalto', main_user_name) 
         | map(attribute='id') 
         | first) 
        | default(99999999 | random | to_uuid) 
      }}

- name: Формирование итогового списка пользователей
  set_fact:
    final_clients: >-
      {{
        [{ 'email': main_user_name, 'id': main_user_uuid }] +
        (existing_clients | rejectattr('email', 'equalto', main_user_name) | list)
      }}
