---
- name: Install prerequisite packages
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Add Docker GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    keyring: /etc/apt/keyrings/docker.asc
    state: present

- name: Add Docker repository
  ansible.builtin.apt_repository:
    repo: >
      deb [arch={{ ansible_architecture | replace('x86_64', 'amd64') }} 
      signed-by=/etc/apt/keyrings/docker.asc] 
      https://download.docker.com/linux/{{ ansible_distribution | lower }} 
      {{ ansible_distribution_release }} stable
    state: present
    filename: docker
    update_cache: true

- name: Install Docker CE packages and plugins
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
    state: present
    update_cache: false
