[commands]
upgrade_type = security
random_sleep = 0
download_updates = yes
apply_updates = yes

[email]
email_from = {{ autoupdate_email_from }}
email_to = {{ autoupdate_email_to }}
email_host = localhost
