---
- name: Configure Infrastructure
  hosts: all
  become: true
  gather_facts: true

  roles:
    - role: common
      tags: ['common']
      when: setup_common | default(true)

    - role: ipv6
      tags: ['ipv6']
      when: setup_ipv6_disable | default(false)

    - role: swap
      tags: ['swap']
      when: setup_swap | default(false)

    - role: bbr
      tags: ['bbr']
      when: setup_bbr | default(false)

    - role: autoupdate
      tags: ['autoupdate']
      when: setup_autoupdate | default(false)

    - role: shellinabox
      tags: ['shellinabox']
      when: setup_shellinabox | default(false)

    - role: firewall
      tags: ['firewall']
      when: setup_firewall | default(false)

    - role: ssh
      tags: ['ssh']
      when: setup_ssh_hardening | default(false)