---

- name: Configure Infrastructure
  hosts: all
  become: true
  gather_facts: true

  roles:
    - role: common_vars
      tags: ['common']
      when: setup_common | default(true)


    - role: haproxy
      tags: ['certbot']
      when: setup_haproxy | default(false)
